.form-container {
  width: 500px;
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    .control {
      display: flex;
      width: 100%;
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
}
