<div class="form-container">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="field">
      <label for="username">Username</label>
      <div class="control">
        <input
          type="text"
          placeholder="Username"
          [ngModel]="username"
          required
          name="username"
        />
      </div>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <div class="control">
        <input
          type="password"
          placeholder="Password"
          [ngModel]="password"
          required
          name="password"
        />
      </div>
    </div>
    <div class="button-container">
      <button class="primary" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>
  </form>
</div>
