<div class="form-container">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)" class="form">
    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input
          type="text"
          id="title"
          name="title"
          required
          [ngModel]="note.title"
          placeholder="Note title..."
        />
      </div>
    </div>

    <div class="field">
      <label class="label" for="body">Body</label>
      <div class="control">
        <textarea
          placeholder="Note body..."
          id="body"
          name="body"
          required
          [ngModel]="note.body"
        ></textarea>
      </div>
    </div>

    <div class="button-container">
      <button (click)="onCancel()" class="secondary" type="button">
        Cancel
      </button>
      <button class="primary" type="submit" [disabled]="!noteForm.valid">
        Save
      </button>
    </div>
  </form>
</div>
