body {
  margin: 0;
  font-family: Arial;
}

input {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

textarea {
  font-size: 1rem;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  min-height: 150px;
  max-height: 250px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-family: Arial;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

button {
  padding: 8px 16px;
  border-radius: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  &.primary {
    background-color: #000066;
    color: white;
  }
  &.secondary {
    background-color: #6c757d;
    color: white;
  }
}
